{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-left">
    <div class="row text-bg-primary">
        <div class="col">{{ description }}</div>
        <div class="col">&nbsp;</div>
    </div>
    {% for f in files %}
    <div class="row">
      <div class="col">
            {% if f.islocal %}
                {% if f.file_exists %}
                    <a href="{{ f.file }}" target="_blank">{{ f.name }}</a>&nbsp;
                {% else %}
                    <a href="#" data-toggle="tooltip" data-placement="top" title="File not found" class="text-danger">{{ f.name }}</a>
                {% endif %}
                <svg style="width:20px;height:20px" viewBox="0 0 20 20"><path fill="currentColor" d="{{ f.icon }}" /></svg>
            {% else %}
                <a href="{{ f.url }}">{{ f.name }}</a>
            {% endif %}
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
