{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% load static %}<img src="{{ e.imagepath }}" alt="{{ e.first_name }} {{ e.last_name }}" width="100%">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">Name</div>
                <div class="col-md-8">{{ e.first_name }} {{ e.last_name }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Position</div>
                <div class="col-md-8">{{ e.position }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Department</div>
                <div class="col-md-8">{{ e.department }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Phone</div>
                <div class="col-md-8">{{ e.phone }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Email</div>
                <div class="col-md-8">{{ e.email }}</div>
            </div>

            {% if edit_allowed %}
            <div class="row">
                <form action="./edit/{{ e.emp_id }}" method="GET">
                    {% csrf_token %}
                    <div class="col-md-4"><button type="submit" class="btn btn-success">Edit</button></div>
                    <div class="col-md-8">&nbsp;</div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
