{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="employeestable"></div>
</body>
<!-- inline javascript to create employees list of objects -->
<script type="text/javascript">
    var employees = [
        {% for e in employees %}
            {
                "emp_id": {{ e.emp_id }},
                "first_name": "{{ e.first_name }}",
                "last_name": "{{ e.last_name }}",
                "email": "{{ e.email }}",
                "department": "{{ e.department }}",
                "position": "{{ e.position }}",
                "phone": "{{ e.phone }}",
                "image": "{{ e.imagepath }}",
                "start_date": "{{ e.start_date }}",
                "end_date": "{{ e.end_date }}",
            },
        {% endfor %}
    ];
</script>
{#    <script src="{% static 'employee-static.js' %}"></script>#}
    <script src="/static/employee-code.js"></script>
{% endblock %}